symlinks/.dotfiles/npm.completion.sh
symlinks/.dotfiles/completions/git-completion.bash
symlinks/.dotfiles/completions/_git

symlinks/.micro/*
!symlinks/.micro/bindings.json
!symlinks/.micro/settings.json
