[user]
    name = tenorok
    email = mail@tenorok.ru
[core]
    editor = "code --wait"
    excludesfile = ~/.gitignore
    quotepath = false
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = cyan
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[diff]
    noprefix = true
[merge]
    ff = no
[branch]
    autosetuprebase = always
[fetch]
    prune = true
[push]
    default = simple
[alias]
    cp = cherry-pick
    st = status -s
    stc = diff --name-only --diff-filter=U
    cl = clone
    ci = commit
    co = checkout
    br = branch
    df = !git diff --relative --color | sed -r 's/^([^-+ ]*)[-+ ]/\\1/' | less -r -X
    dfi = !sh -c 'git diff --relative '"'"':!$1'"'"''
    dc = diff --relative --cached
    dci = !sh -c 'git diff --relative --cached '"'"':!$1'"'"''
    dfa = diff --relative HEAD
    unstage = reset HEAD --
    last = log -1 HEAD
    back = reset --soft HEAD^
    brup = !git remote prune origin && git branch --merged | grep -v master | grep -v dev | xargs git branch -d
    tagup = !git tag -l | xargs git tag -d && git fetch -t
    cleanup = clean -xdf
    gcls = fsck
    gcup = gc --prune=now
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ls = ls-files
    lsi = !git ls-files -v | grep '^h'
    lsof = diff-tree --no-commit-id --name-only -r
    lg  = log --oneline --graph --decorate
    lga  = log --oneline --graph --decorate --all
    lgp = log --oneline --graph --decorate --all --simplify-by-decoration
[filter "lfs"]
    required = true
    clean = git-lfs clean %f
    smudge = git-lfs smudge --skip %f
    process = git-lfs filter-process --skip
[lfs "https://github.yandex-team.ru/"]
    locksverify = false
[lfs]
    batch = true
    concurrenttransfers = 15
