"*":
  core:
    disabledPackages: [
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".idea"
      "libs"
      "static"
      "images"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  "custom-title":
    template: "<%= projectName %> → <%= relativeFilePath %>"
  docblockr:
    align_tags: "no"
    return_tag: "@returns"
  editor:
    fontFamily: "Consolas"
    preferredLineLength: 120
    scrollPastEnd: true
    tabLength: 4
  "exception-reporting":
    userId: "92725888-6c5d-f2ec-9da2-ec1dadf0b9c5"
  "file-watcher":
    promptWhenChange: true
  "git-blame": {}
  "git-diff":
    showIconsInEditorGutter: true
  "local-config":
    applyOnActivation: true
  metrics:
    userId: "b39be8188d2876677efaf221c811ac155b8e7cd3"
  minimap:
    absoluteMode: true
    displayCodeHighlights: false
    independentMinimapScroll: true
    moveCursorOnMinimapClick: true
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    textOpacity: 0.2
  navigate:
    f1: "http://devdocs.io/#q=&searchterm"
    f10: "https://duckduckgo.com/?q=&searchterm"
    f6: "http://www.bing.com/search?q=&searchterm"
  "project-manager": {}
  "recent-files-fuzzy-finder": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
