'atom-workspace':
  'cmd-e': 'recent-files-fuzzy-finder:toggle-finder'
  'cmd-[': 'last-cursor-position:previous'
  'cmd-]': 'last-cursor-position:next'
  'shift-cmd-o': 'advanced-open-file:toggle'
  'cmd-§': 'tree-view:toggle-focus'

'atom-text-editor':
  'cmd-backspace': 'editor:delete-line'
  'cmd-e': 'unset!'

'atom-text-editor:not([mini])':
  'ctrl-shift-C': 'unset!'
  'shift-cmd-c': 'editor:copy-path'
  'ctrl-c': 'copy-path:copy-project-relative-dirname'

'.platform-darwin atom-text-editor:not(.mini)':
  'shift-cmd-enter': 'goto-definition:go'

'.platform-darwin atom-text-editor[data-grammar~=js]':
    'cmd-enter': 'atom-ternjs:definition'


'atom-workspace atom-text-editor:not([mini])':
  'cmd-[': 'unset!'
  'cmd-]': 'unset!'
